# Project exclude paths
/.gradle/
/Simple Tic-Tac-Toe/task/build/
/Simple Tic-Tac-Toe/task/out/
/Simple Tic-Tac-Toe/task/out/production/classes/
/Topics/Branching statements/The (un)-ordered sequence/out/
/Topics/Branching statements/The (un)-ordered sequence/out/production/classes/
/Topics/Iterating over arrays/Sum array elements greater than a value/out/
/Topics/Iterating over arrays/Sum array elements greater than a value/out/production/classes/
/Topics/Iterating over arrays/Triples/out/
/Topics/Iterating over arrays/Triples/out/production/classes/
/Topics/Multidimensional array/Rotate a rectangle array/out/
/Topics/Multidimensional array/Rotate a rectangle array/out/production/classes/
/Topics/Multidimensional array/The star figure/out/
/Topics/Multidimensional array/The star figure/out/production/classes/
/Topics/The while and do-while loops/Profit/out/
/Topics/The while and do-while loops/Profit/out/production/classes/
/Topics/The while and do-while loops/The smallest value/out/
/Topics/The while and do-while loops/The smallest value/out/production/classes/